@import "../../styles/variables";

.containerBio {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr 500px;
  background-color: $bg-services-color;
  color: $font-color-h;
  align-items: center;

  .container-foto-bio {
    width: 80%;
    justify-self: center;
    align-content: center;
  }
  img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 16px;
  }
  h1 {
    width: 85%;
  }
  p {
    margin-top: 45px;
    margin-right: 50px;
    margin-bottom: 45px;
    width: 85%;
  }
  .btn-toggle-text {
    display: none;
  }

  .container-button-bio button {
    margin-top: 20px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid white;
    margin-right: 25px;
    font-size: 1.2rem;
  }
  .btn-scopri-bio {
    background: transparent;
    color: #ddd;

    &:hover {
      background: #dddddd0a;
      color: #ffffff;
    }
  }
  .btn-contact-me-bio {
    background: white;
    color: $bg-services-color;

    a {
      text-decoration: none;
    }

    &:hover {
      background: #ddd;
      color: $bg-services-color;
    }
  }
}
@media (max-width: 1000px) {
  .containerBio {
    padding-top: 30px;

    p {
      width: 90%;
      margin-top: 25px;
      margin-right: 50px;
      margin-bottom: 25px;
    }
  }
}
@media (max-width: 780px) {
  .containerBio {
    padding-top: 10px;
    display: flex;
    flex-direction: column;

    .container-button-bio {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 25px;
      button {
        margin: 10px auto 0;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
    }

    p,
    h1 {
      margin: 15px auto;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {

  h1.titlebio  {
    width: 100%;
  }

  p.bio-text {
    margin-bottom: 5px;
  }
  .containerBio .btn-toggle-text {
    display: block;
    background-color: transparent;
    color: #ddd;
    border: none;
    padding: 0;
    font-size: 12px;
    text-decoration: underline;
    justify-self: right;
    margin-bottom: 15px;
    &:hover {
      color: #ddd;
    }
  }

  .bio-text {
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease;
    display: -webkit-box; /* Necessario per utilizzare line-clamp */
    -webkit-box-orient: vertical;

    &.collapsed {
      max-height: none; /* Necessario per evitare conflitti con line-clamp */
      -webkit-line-clamp: 5; /* Numero di righe visibili */
    }

    &.expanded {
      max-height: none; /* Espande completamente il testo */
    }
  }
}
