nav {
  background-color: #1c303d;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Disporre i link orizzontalmente */
  align-items: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: border-bottom 0.2s ease;
}

nav ul li a:hover {
  border-bottom: 3px solid orange;
}

nav ul li a.active {
  border-bottom: 3px solid rgb(255, 187, 60);
  color: rgb(255, 187, 60);
}

.buttonPhone {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer; 
  text-decoration: none;
}
.phoneIcon {
  color: white;
  font-size: 1.5rem; /* Imposta una dimensione dell'icona */

  margin-right: 5px;
  transform: rotateY(180deg);
}
