@import '../../styles/variables';


nav {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5rem;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  transition: border-bottom 0.2s ease;
}

nav ul li a:hover {
  color: $color-hover-button-navbar;
  border-bottom: 1px solid $color-hover-button-navbar;
}

nav ul li a.active {
  font-size: 1.3rem;
  color: $color-hover-button-navbar;
}

.buttonPhone {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-right: 15px;
  
  &:hover {
    color: $color-hover-button-navbar;
    .phoneIcon {
      color: $color-hover-button-navbar;
    }
  }
}
.phoneIcon {
  font-size: 1.5rem; /* Imposta una dimensione dell'icona */
  
  margin-right: 5px;
  transform: rotateY(180deg);
}

@media (max-width: 916px) { 

  nav {
    width: 90%;
    ul {
      gap: 10px;
    }
  }
}

@media (max-width: 768px) { /* Tablet */

  nav {
    width: 90%;
    ul {
      gap: 0;
    }
  }

  .buttonPhone {
    margin-right: 0;
  }
}

