@import '../../styles/variables';


nav {
  background-color: #1c303d;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: border-bottom 0.2s ease;
}

nav ul li a:hover {
  border-bottom: 1px solid $color-hover-button-navbar;
}

nav ul li a.active {
  font-size: 1.3rem;
  color: $color-hover-button-navbar;
}

.buttonPhone {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  
  &:hover {
    .phoneIcon {
      color: $color-hover-button-navbar;
    }
  }
}
.phoneIcon {
  color: white;
  font-size: 1.5rem; /* Imposta una dimensione dell'icona */

  margin-right: 5px;
  transform: rotateY(180deg);
}
