
//navbar
$color-hover-button-navbar: rgb(255, 187, 60);
$color-element-navbar: black;

//  nostri servizi
$bg-services-color: #336699;


//footbar
$font-size-elektrallarm-footbar: 3rem;
$font-size-h: 1.55rem;
$font-size-subtitle: 1.2rem;
$font-size-p: 1rem;
$font-color-p: #f0f0f0;
$font-color-h: #fcfcfc;


//---------------------- smartphone -----------------------------


//footbar
$font-size-elektrallarm-footbar-smartphone: 2rem;