.site-title-container{
    padding-top: 3px;
    background: #fff;
    img {
        width: 400px;
        margin-top: 20px;
        margin: 20px auto 0;
        display: flex;
    }
    h1 {
        text-align: center;
    }
}