.site-title-container{
    padding-top: 3px;
    background: #fff;
    width: 100%;
    img {
        width: 550px;
        margin-top: 20px;
        padding-left: 25px;
        display: flex;
    }
    h1 {
        text-align: center;
    }
}
@media (max-width: 768px) { /* Tablet */

    .site-title-container img {
      padding-left: 0;
      margin: 20px auto 0;
    }
  }
@media (max-width: 480px) { /* Smartphone */

    .site-title-container img {
      width: 100%;
    }
  }