// Importa i file di variabili e tema
@import './styles/variables';
@import './styles/theme';

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; // per un effetto di transizione dolce tra i temi
}

.night-mode-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(224, 224, 224) ;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 2px 10px 1px;
}

.whatsapp-logo {
  width: 80px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), 
              filter 0.3s ease;
  filter: drop-shadow(7px 9px 8px rgba(0, 0, 0, 0.8));

  &:hover {
    transform: scale(1.1);
    animation: perspective-swing 3s ease-in-out infinite; 
    filter: drop-shadow(9px 11px 10px rgba(0, 0, 0, 0.8));
  }
}

// Definizione animazione di oscillazione con prospettiva
@keyframes perspective-swing {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg); // Posizione iniziale e finale
  }
  25% {
    transform: rotateZ(-10deg) rotateX(15deg); // Oscillazione verso sinistra e avanti
  }
  50% {
    transform: rotateZ(10deg) rotateX(-15deg); // Oscillazione verso destra e indietro
  }
  75% {
    transform: rotateZ(-5deg) rotateX(8deg); // Oscillazione meno pronunciata verso sinistra
  }
}



.text-center {
  text-align: center;
}
.padding20 {
  padding: 0 20px;
}

// Modalità giorno
body.day {
  background-color: $color-background-day;
  color: $color-text-day;

  button.borderDay{
    border: 2px solid $color-text-day;
    background-color: transparent;
  }

  .navbar-button {
    color: $color-text-day;

  }
}

// Modalità notte
body.night {
  background-color: $color-background-night;
  color: $color-text-night;
  
  button.borderNight{
    border: 1px solid $color-text-night;
    background-color: transparent;
    color: $color-text-night;
  }
}

.navbar-button {
  color: $color-text-night;
}


// display smartphone
@media (max-width: 480px) {
  .whatsapp-logo {
    width: 50px;
    bottom: 25px;
  right: 15px;
  }
}