// Importa i file di variabili e tema
@import './styles/variables';
@import './styles/theme';

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; // per un effetto di transizione dolce tra i temi
}

.night-mode-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(224, 224, 224) ;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 2px 10px 1px;
}

.text-center {
  text-align: center;
}
.padding20 {
  padding: 0 20px;
}
// Modalità giorno
body.day {
  background-color: $color-background-day;
  color: $color-text-day;

  button.borderDay{
    border: 2px solid $color-text-day;
    background-color: transparent;
  }
}

// Modalità notte
body.night {
  background-color: $color-background-night;
  color: $color-text-night;
  
  button.borderNight{
    border: 1px solid $color-text-night;
    background-color: transparent;
    color: $color-text-night;
  }
}

a {
  color: $color-link-day;
  text-decoration: none;

  &:hover {
    color: $color-link-night;
  }
}

// Stili aggiuntivi per navbar e altri componenti
